{% load static %}
{% load humanize %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>کافه نئون☕</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{% static 'shop/assets/favicon.ico' %}" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'shop/css/styles.css' %}" rel="stylesheet" />
        <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

      
            <style>
                header {
                    height: 300px;
                    background-image: url("{% static 'shop/assets/pink.jpg' %}");
                    background-size: auto;
                    background-position: center;
                    }
            </style>
    </head>
    <body dir = "rtl">
        {%include 'shop/navbar.html'%}
        {% if messages %}
            {%for message in messages %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    {{message}}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {%endfor%}
        {%endif%}
        {% block content  %}
        {% endblock  %}
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container">
            <div class="container"><p class="m-0 text-center text-white">  </p></div>

            </div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="{% static 'shop/js/scripts.js' %}"></script>
    </body>
</html>
 