{% extends 'shop/base.html'%}
{%block content%}
<header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">وارد شوید</h1>
                    <p class="lead fw-normal text-white-50 mb-0">ورود به حساب کاربری</p>
                </div>
            </div>
</header>
<br></br>
<div class="container">
    <div class="row">
        <center>
            <div class="col-10">
                <p align="justify">
                    <form method="POST" action="{% url 'login' %}">
                        {%csrf_token%}
                        <div class="mb-3">
                            <input type="text" class="form-control" name="username" placeholder=" 👤 نام کاربری را وارد کنید">
                        </div>
                        <div class="mb-3">
                            <input type="password" class="form-control" name="password" placeholder="🔑 رمز خود را وارد کنید">
                        </div>
                        <button type="submit" class="btn btn-secondary" >ثبت</button>
                    </form>
                </p>
             </div>
        <center>
    </div>
</div>   
<br></br> 
{%endblock%}

