{% extends 'shop/base.html'%}
{%block content%}
{% load humanize%}
<br><br><br><br> <br><br>
<div class="container">
  <div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="{{product.picture.url}}" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{ product.name}} </h5>
        <p class="card-text"> در دسته {{product.category}} </p>
        {% if product.is_sale%}
            <p class="card-text"> 💰  قیمت قبل از تخفیف : <strike>{{product.price|intcomma}} تومان</strike> </p>
            <p class="card-text"> 💰 قیمت فعلی :   {{product.sale_price|intcomma}} تومان</p>
        {%else%}
            <p class="card-text">💰 قیمت :   {{product.price|intcomma}} تومان </p>
        {%endif%}
        تعداد:
        <select class="form-select"  id='cart-qty'>
          <option value="1">۱</option>
          <option value="2">۲</option>
          <option value="3">۳</option>
          <option value="3">۴</option>
          <option value="3">۵</option>
          <option value="3">۶</option>
         </select>
         <br> <br>
         <button class='btn btn-primary' type='button'value='{{product.id}}' id='add-cart' >   اضافه کردن به سبد خرید ➕</button>
         <br><br>
        <div><a class="btn btn-outline-dark mt-auto" href="{% url 'home'%}"> بازگشت به صفحه اصلی 🔻</a></div>
      </div>
      </div>
    </div>
  </div>
</div>   
<br><br> <br><br> <br><br>
<script>
$(document).on('click','#add-cart',function(e){
  e.preventDefault();
  $.ajax({
    type:'POST',
    url:'{% url 'cart_add'%}',
    data:{
      product_id :$('#add-cart').val(),
      product_qty:$('#cart-qty option:selected').text(),
      csrfmiddlewaretoken:'{{csrf_token}}',
      action:'post'
    },
    success:function(jason){
      document.getElementById('cart_quantity').textContent=jason.qty
      location.reload();
    },
    error:function(xhr,errmsg,err){
    }
  })
})
</script>
{%endblock%}

